	<div>
		<h1>SEP Info endpoint v. {{version}}</h1>
		<ul>
			<li><a href="/">/</a> this documentation page</li>
			<li><a href="/sportsman">/sportsman</a> Sportsman account</li>
			<li><a href="/agent">/agent</a>Agent account</li>
			<li><a href="/fanat">/fanat</a>Fanat Account</li>
		</ul>
	</div>
    {{> footer}}

